html {
  background-color: olivedrab;
}

.header {
  background-color: blueviolet;
  height: auto;
  text-align: center;
  padding: 5px;
}

.listItem {
  border: 20px solid green;
  background-color: darkgreen;
  margin: auto;
  width: 75%;
  max-width: 600px;
  text-align: left;
  padding: 30px;
  margin-top: 20px;
}